body {
    margin: 0;
    padding: 0;
    font-family: Arial, sans-serif;
    background: linear-gradient(150deg, #f3f192, #f37506);
    height: 100vh;
}

.header {
    position: absolute;
    top: 10%;
    left: 50%;
    transform: translate(-50%, 0);
    width: 400px;
    padding: 10px 0;
    background: #f37506;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
    margin-left: auto;
    border-radius: 15px;
}

.header h1 {
    color: #fff;
    text-align: center;
}

.fa-solid{
    color: #fb6000;
    position: absolute;
    top: 0px;
    right: 100px;
    font-size: 40px;
    cursor: pointer;
}

.fa-solid:hover{
    color: #fc1808;
    
}

.btn-volver {
    position: absolute;
    top: 10px;
    right: 10px;
    background: #ed8701;
    border: 1px solid;
    font-size: 20px;
    color: #ffffff;
    cursor: pointer;
    font-weight: bold;
    border-radius: 8px;
    
}

.btn-volver:hover {
    color: #f34906;
}

.formulario{
    position: absolute;
    top: 60%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 400px;
    background: #fff;
    border-radius: 15px;
}

.formulario h1{
    text-align: center;
    padding: 0 0 20px 0;
    border-bottom: 1px solid silver;
}

.formulario form{
    padding: 0 40px;
    box-sizing: border-box;
}

form .compra{
    position: relative;
    border-bottom: 2px solid #adadad;
    margin: 30px 0;
}

.compra input{
    width: 100%;
    padding: 0 5px;
    height: 40px;
    font-size: 16px;
    border: none;
    background: none;
    outline: none;
    position: relative;
}

.compra label{
    position:absolute;
    top: 50%;
    left: 5px;
    color: #adadad;
    transform: translateY(-50%);
    font-size: 16px;
    pointer-events: none;
    transition: .5s;
}

.compra span::before{
    content: '';
    position: absolute;
    top: 40px;
    left: 0;
    width: 100%;
    height: 2px;
    background: #e1951a;
    transition: .5s;
}

.compra input:focus ~ label,
.compra input:valid ~ label{
    top: -5px;
    color: #e1951a;
}

.compra input:focus ~ span::before,
.compra input:focus ~ span::before{
    width: 100%;
}

input[type="submit"]{
    width: 100%;
    height: 50px;
    background: #e1951a;
    border: 1px solid;
    border-radius: 25px;
    font-size: 18px;
    color : #fff;
    cursor: pointer;
    outline: none;
}

input[type="submit"]:hover{
    border-color: #f37506;
    background: #ed8701;
    color: #fff;
}