body {
    margin: 0;
    padding: 0;
    font-family: Arial, sans-serif;
    background: linear-gradient(150deg, #f3f192, #f37506);
    height: 100vh;
}

.header {
    position: absolute;
    top: 60%;
    left: 50%;
    transform: translate(-50%, 0);
    width: 400px;
    padding: 20px 0;
    background: #f37506;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
    margin-left: auto;
    border-radius: 15px;
}

.header h1 {
    color: #fff;
    text-align: center;
}

.btn-cerrar {
    position: absolute;
    top: 10px;
    right: 10px;
    background: none;
    border: none;
    font-size: 20px;
    color: #fff;
    cursor: pointer;
}

.btn-cerrar:hover {
    color: #f34906;
}


.productos {
    width: 200px;
    background-color: #f37506;
    border: none;
    color: white;
    padding: 15px 32px;
    text-align: center;
    text-decoration: none;
    display: grid;
    font-size: 16px;
    margin: 4px 2px;
    cursor: pointer;
    border-radius: 12px;
    margin-right: auto;
    margin-left: auto;
}

.productos:hover {
    background-color: #ed8701;
    color: white;
}

.productos:active {
    background-color: #f34906;
    color: white;
}

.proveedores {
    width: 200px;
    background-color: #f37506;
    border: none;
    color: white;
    padding: 15px 32px;
    text-align: center;
    text-decoration: none;
    display: grid;
    font-size: 16px;
    margin: 4px 2px;
    cursor: pointer;
    border-radius: 12px;
    margin-right: auto;
    margin-left: auto;
}

.proveedores:hover {
    background-color: #ed8701;
    color: white;
}

.proveedores:active {
    background-color: #f34906;
    color: white;
}

.ventas {
    width: 200px;
    background-color: #f37506;
    border: none;
    color: white;
    padding: 15px 32px;
    text-align: center;
    text-decoration: none;
    display: grid;
    font-size: 16px;
    margin: 4px 2px;
    cursor: pointer;
    border-radius: 12px;
    margin-right: auto;
    margin-left: auto;
}

.ventas:hover {
    background-color: #ed8701;
    color: white;
}

.ventas:active {
    background-color: #f34906;
    color: white;
}

.pedidos {
    width: 200px;
    background-color: #f37506;
    border: none;
    color: white;
    padding: 15px 32px;
    text-align: center;
    text-decoration: none;
    display: grid;
    font-size: 16px;
    margin: 4px 2px;
    cursor: pointer;
    border-radius: 12px;
    margin-right: auto;
    margin-left: auto;
}

.pedidos:hover {
    background-color: #ed8701;
    color: white;
}

.pedidos:active {
    background-color: #f34906;
    color: white;
}

.compras {
    width: 200px;
    background-color: #f37506;
    border: none;
    color: white;
    padding: 15px 32px;
    text-align: center;
    text-decoration: none;
    display: grid;
    font-size: 16px;
    margin: 4px 2px;
    cursor: pointer;
    border-radius: 12px;
    margin-right: auto;
    margin-left: auto;
}

.compras:hover {
    background-color: #ed8701;
    color: white;
}

.compras:active {
    background-color: #f34906;
    color: white;
}

.clientes {
    width: 200px;
    background-color: #f37506;
    border: none;
    color: white;
    padding: 15px 32px;
    text-align: center;
    text-decoration: none;
    display: grid;
    font-size: 16px;
    margin: 4px 2px;
    cursor: pointer;
    border-radius: 12px;
    margin-right: auto;
    margin-left: auto;
}

.clientes:hover {
    background-color: #ed8701;
    color: white;
}

.clientes:active {
    background-color: #f34906;
    color: white;
}

.pagos {
    width: 200px;
    background-color: #f37506;
    border: none;
    color: white;
    padding: 15px 32px;
    text-align: center;
    text-decoration: none;
    display: grid;
    font-size: 16px;
    margin: 4px 2px;
    cursor: pointer;
    border-radius: 12px;
    margin-right: auto;
    margin-left: auto;
}

.pagos:hover {
    background-color: #ed8701;
    color: white;
}

.pagos:active {
    background-color: #f34906;
    color: white;
}

.usuarios {
    width: 200px;
    background-color: #f37506;
    border: none;
    color: white;
    padding: 15px 32px;
    text-align: center;
    text-decoration: none;
    display: grid;
    font-size: 16px;
    margin: 4px 2px;
    cursor: pointer;
    border-radius: 12px;
    margin-right: auto;
    margin-left: auto;
}

.usuarios:hover {
    background-color: #ed8701;
    color: white;
}

.usuarios:active {
    background-color: #f34906;
    color: white;
}
