body {
    margin: 0;
    padding: 0;
    font-family: Arial, sans-serif;
    background: linear-gradient(150deg, #f3f192, #f37506);
    height: 100vh;
}

.header {
    position: absolute;
    top: 10%;
    left: 50%;
    transform: translate(-50%, 0);
    width: 400px;
    padding: 10px 0;
    background: #f37506;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
    margin-left: auto;
    border-radius: 15px;
}

.header h1 {
    color: #fff;
    text-align: center;
}

.bienvenida {
    position: absolute;
    top: 30%;
    left: 50%;
    transform: translate(-50%, 0);
    width: 400px;
    padding: 10px 0;
    background: #f37506;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
    margin-left: auto;
    border-radius: 15px;
}

p{
    color: rgb(244, 57, 0);
    font-size: 40px;
    margin-top: 20px;
    text-align: center;
    top: 27%;
    position: relative;
    font-weight: bold;
}

.btn-cerrar {
    position: absolute;
    top: 10px;
    right: 10px;
    background: none;
    border: none;
    font-size: 20px;
    color: #fff;
    cursor: pointer;
}

.btn-cerrar:hover {
    color: #f34906;
}

.btn-agregar-venta {
    position: absolute;
    top: 45%;
    left: 50%;
    transform: translate(-50%, -50%);
    background: #f37506;
    border: 1px solid;
    font-size: 20px;
    color: #ffffff;
    cursor: pointer;
    font-weight: bold;
    border-radius: 8px;
    padding: 10px 20px;
    width: 400px;
}

.btn-agregar-venta:hover {
    color: #f34906;
}

.btn-agregar-venta:active {
    background: #ed8701;
}

.btn-agregar-det-venta {
    position: absolute;
    top: 53%;
    left: 50%;
    transform: translate(-50%, -50%);
    background: #f37506;
    border: 1px solid;
    font-size: 20px;
    color: #ffffff;
    cursor: pointer;
    font-weight: bold;
    border-radius: 8px;
    padding: 10px 20px;
    width: 400px;
}

.btn-agregar-det-venta:hover {
    color: #f34906;
}

.btn-agregar-det-venta:active {
    background: #ed8701;
}

.btn-inventario {
    position: absolute;
    top: 61%;
    left: 50%;
    transform: translate(-50%, -50%);
    background: #f37506;
    border: 1px solid;
    font-size: 20px;
    color: #ffffff;
    cursor: pointer;
    font-weight: bold;
    border-radius: 8px;
    padding: 10px 20px;
    width: 400px;
}

.btn-inventario:hover {
    color: #f34906;
}

.btn-inventario:active {
    background: #ed8701;
}

.btn-stock {
    position: absolute;
    top: 69%;
    left: 50%;
    transform: translate(-50%, -50%);
    background: #f37506;
    border: 1px solid;
    font-size: 20px;
    color: #ffffff;
    cursor: pointer;
    font-weight: bold;
    border-radius: 8px;
    padding: 10px 20px;
    width: 400px;
}

.btn-stock:hover {
    color: #f34906;
}

.btn-stock:active {
    background: #ed8701;
}

.btn-agregar-cliente {
    position: absolute;
    top: 77%;
    left: 50%;
    transform: translate(-50%, -50%);
    background: #f37506;
    border: 1px solid;
    font-size: 20px;
    color: #ffffff;
    cursor: pointer;
    font-weight: bold;
    border-radius: 8px;
    padding: 10px 20px;
    width: 400px;
}

.btn-agregar-cliente:hover {
    color: #f34906;
}

.btn-agregar-cliente:active {
    background: #ed8701;
}

.btn-total-venta {
    position: absolute;
    top: 85%;
    left: 50%;
    transform: translate(-50%, -50%);
    background: #f37506;
    border: 1px solid;
    font-size: 20px;
    color: #ffffff;
    cursor: pointer;
    font-weight: bold;
    border-radius: 8px;
    padding: 10px 20px;
    width: 400px;
}

.btn-total-venta:hover {
    color: #f34906;
}

.btn-total-venta:active {
    background: #ed8701;
}